@font-face {
    font-family: "font2";
    src: url(assets/fonts/styl.ttf);
}
body{
    color: white;
    background-color: rgb(48, 47, 47);
    font-family: "font2";
}
.head{
    margin: 30px 30px;
    font-size: larger;
}
.head li{
    display: inline;
    margin: 63px 53px;
}
a{
    text-decoration: none;
    color: aliceblue;   
}
a:hover{
    color: lightblue;
    text-decoration-line: underline;
}
.main{
    position: absolute;
    top: 80px;
    padding: 71px;
    font-size: x-large;
}

.footer{
    position: absolute;
    bottom: 0px;
}