@font-face {
    font-family: 'font1';
    src: url('..//fonts/Poppins/Poppins-Regular.ttf');
}
body{
    font-family: 'font1';
    background-color: #F8F8F8;
}
.left-side{
    padding-left: 17rem;
}
.remember-input{
    font-size: medium;
}
input{
    border-radius: 0.7rem;
    border: none;
    padding: 0.7rem;
}
.btn-sign{
    border: 1px solid red;
    border-radius: 0.8rem;
    padding: 0.7rem;
    width: 21rem;
    background-color: #EA454C;
    color: rgb(255, 255, 255);
    box-shadow: 2px 4px 8px rgba(234, 69, 76, 0.3); /* Soft red shadow */
    transition: all 0.3s ease; /* Smooth hover animation */
    cursor: pointer;
}
.btn-sign:hover{
    background-color: #e63a42; /* Slightly darker red */
    box-shadow: 0 6px 12px rgba(234, 69, 76, 0.4); /* Bigger shadow on hover */
    transform: translateY(-1px); /* Slight lift effect */
}
.btn-google{
    border: 1px solid white;
    border-radius: 0.8rem;
    padding: 0.7rem;
    width: 21rem;
    background-color: #F8F8F8;
    border-color:#bcbcbf;
     cursor: pointer;
    transition: all 0.2s ease;
    background-color: #F8F8F8;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.btn-google:hover {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transform: translateY(-1px);
    border-color: #a8a8ab;
  }
@media (max-width: 768px) {
   .left-side{
    padding-left: 1rem;
   }
   .remember-input{
    font-size: small;
   }
   
}
